[storage]
[storage.redis]
url = "redis://127.0.0.1:6379"

[task]
maxPendingCount = 20
redis           = "redis://127.0.0.1:6379"

[faucet]
assets    = ['KSM', 'USDT']
endpoint  = "wss://testnet-rpc.parallel.fi"
precision = 18

[faucet.account]
mnemonic = "your mnemonic"

[faucet.strategy]
[faucet.strategy.normal]
amounts   = [
  { asset = 'KSM', amount = 10, decimals = '1000000000000' },
  { asset = 'USDT', amount = 100, decimals = '1000000000000' },
  { asset = 'Native', amount = 10, decimals = '1000000000000' },
]
frequency = ["1", "day"]
limit     = 2

[channel]
[channel.api]
frequency = ["1", "day"]
limit     = 2
port      = 3000

[channel.matrix]
enable    = false                  # No Matrix server yet
frequency = ["1", "day"]
limit     = 2
token     = "TEST_TOKEN"
userId    = "@test-bot:matrix.org"

[channel.discord]
activeChannelName = 'faucet-bot'
enable            = true
frequency         = ["1", "day"]
limit             = 2
token             = "your-token"

[template]
balance = "<%= account %> The faucet has ${balance} remaining."
success = """
  Sent <%= account %> <%= amount %>. [View on Subscan](https://parallel-testnet.subscan.io/extrinsic/<%= tx %>)
"""
usage   = """
Usage:
  !balance - Get the faucet's balance.
  !drip <Address> - Send Test Tokens to <Address>.
  !faucet - Prints usage information.
"""

riotSuccess = """
  Sent <%= account %> <%= amount %>. <a href="https://parallel-testnet.subscan.io/extrinsic/<%= tx %>">Viewd on Subscan</a>
"""

[template.error]
"CHECK_LIMIT_FAILED"  = "Check Limit Error"
"CHECK_TX_FAILED"     = "Build Extrinsic Failed"
"COMMON_ERROR"        = "<%= account %> something error, please check your input."
"INSERT_TASK_FAILED"  = "Insert Task Error"
"LIMIT"               = "<%= account %> has reached their quota. Only request 2 per 1 day."
"NO_STRATEGY"         = "No strategy found."
"PADDING_TASK_MAX"    = "Fauct is busy, please retry later."
"UPDATE_LIMIT_FAILED" = "Update Limit Error"

